.tasks__buttonContainer {
  display: grid;
  grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
  .tasks__buttonContainer {
    grid-template-columns: 1fr;
  }
}

.tasks__button {
  background-color: transparent;
  border: none;
  padding: 20px;
  color: teal;
  transition: color 0.3s;
}

.tasks__button:hover {
  color: hsl(180, 100%, 35%);
}

.tasks__button:active {
  color: hsl(180, 100%, 50%);
}

.tasks__button:disabled {
  color: #ccc;
}
